<div>
  <p>
    We have received a password change request for your <span th:text="${brand.companyName}"></span> account
    (<span th:text="${user.email}"></span>).
  </p>
  <p>
    If you did not ask to change your password, then you can ignore this email and your password will not be changed.
    The link below will remain active for 24 hours.
  </p>
  <p style="margin:24px 0;">
    <a
      th:href="${brand.appBaseUrl} + '/reset/' + ${user.passwordResetToken}"
      style="padding:12px 24px;text-transform:uppercase;color:#fff;font-weight: 700;font-size: 14px;line-height: 26px;background:#2568F6;border-radius: 8px;text-decoration:none"
    >
      Reset your password
    </a>
  </p>
</div>
